.media-container {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
}

.media-container .title h2, .media-container .title h3 {
    display: inline-block;
}

/* .visible {
    display: inline;
    float: right;
}

.invisible {
    display: none;
} */

img {
    display: block;
    max-height: 300px;
    max-width: 300px;
}

.vote {
    display: block;
}

.positive {
    background-color: #05f519;
}

.negative {
    background-color: rgb(252, 61, 61);
}

i.fas,
  i.fab {
    color: #f60dc9;
    padding: 1.5px;
    /* border: 0.7px solid black; */
  }